{%extends "base.html"%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    {%block title%}{%endblock%}
</head>
<body>
   {%block nav%}MEMBER{%endblock%}
   {%block content%}
   <div class="container"> 
   <form action="/show" method="post">
        {%csrf_token%}
        {{form.as_table}}
        <input type="submit" value="add"/>
    </form>
    </div>
    {%endblock%}
</body>
</html>